
.company-button {
    border-radius: 23px;
    border: 1px solid #62B3D2;
    display: flex;
    width: 133px;
    height: 44px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #FFF;
    color: #62B3D2;
}
.company-button:hover {
    background: #62B3D2;
    color: white;
}