.popup-container {
    background: #FFF;
    display: flex;
    flex-direction: column;
    max-width: 484px;
    padding: 19px 15px;
    border-radius: 9px;
    @media screen and (max-width: 600px) {
        max-width: 300px;
    }
}